#game-field {
    position: fixed;
    width: 100%;
    height: 95%;
    background-color: black;
}

#game-field img {
    height: 95vh;
    transform: translate(-25%,0);
}

#ground {
    width: 100%;
    height: 20%;
    background-color: black;
    top: 95%;
    position: fixed;
}

#ground img {
    height: 5vh;
    left: 50vw;
    transform: translate(-25%,0);
}

body {
    margin: 0;
}




/*TODO
- use bg image and split it 2 halves, align them to the ground

*/