#game-field {
    position: fixed;
    width: 100%;
    height: 80%;
    background-color: #03A9F4;
}

#ground {
    width: 100%;
    height: 20%;
    background-color: #607D8B;
    top: 80%;
    position: fixed;
}

body {
    margin: 0;
}




/*TODO
- use bg image and split it 2 halves, align them to the ground

*/